html
  head
    title= title
    style
        include ../css/index.css
  body
    p= "Öl: " +  (beerIndex+1) + "/" + numOfBeers
    div(class='vertical-center')
        if beerNameThin
            h1= beerNameBold +  ", " + beerNameThin
        else
            h1= beerNameBold
        h3= taste
        h4= "Kostnad: " + price + " Kr"
        a(href="https://www.systembolaget.se/" + prodId): p Öppna På Systembolaget
